{% extends 'base.html.twig' %}

{% block body %}

    <h1>Liste films</h1>
    <div class="row">

        {% for movie in movies %}
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ movie.title }} {{ movie.id }}</h5>
                    <h6 class="card-title">{{ movie.director }} - {{ movie.year }} </h6>
                    <p class="card-text"> {{ movie.description }}</p>
                    <a href="{{ path('app_film_detail_show',{"id":movie.id}) }}" class="btn btn-primary row justify-content-right">Détails</a>
                </div>
            </div>
            <br>  <br>
        </div>

        {% else %}
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">Pas de films.</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>


{% endblock %}

